@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500; 700;900&display=trocar');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

:root{
    --bg-color: #302C42;
    --text-color:#FFFFFF;
}

body{
    background-color: var(--bg-color);
}

.container, footer{
    max-width: 80%;
    margin: auto;
}

section{
    padding: 20px 0px;
}

a {
    display: block;
    color: var(--bg-color);
    font-weight: bold;
    font-size: 14px;
    background-image: linear-gradient(to right, #8176AF, #C0B7E8 );
    padding: 12px;
    margin-top: 20px;
    border-radius: 30px;
}

h2, h3{
    font-size: 20px;
}

nav{
    max-width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

nav div{
    display: flex;
    align-items: center;
    gap: 10px;
}

main .sec-one{
    text-align: center;
}

main .sec-one .container .img-sec-two img{
    width: 100%;
    border-radius: 50% 50% 50% 100% ;
    border: 10px solid rgba(0, 0, 0, 0.059);
}

main .sec-one h1{
    color: var(--text-color);
    text-align: center;
    margin-top: 20px;
}

main .sec-one h1 #strong1{
    background-image: linear-gradient(to right, #C0B7E8, #8176AF);
    font-weight: 900;   
    font-size: 25px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

main .sec-one h1 #strong2{
    background-image: linear-gradient(to right, #C0B7E8, #8176AF);
    font-weight: 900;   
    font-size: 25px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

main .sec-one .slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 50px;
    background-image: linear-gradient(to left, #211E2E, #3A3456, #211E2E);
    color: var(--text-color);
}

main .sec-one .slider p{
    font-size: 10px;
    font-weight:normal;
    line-height: 20px;
    text-align: left;
}

main .sec-one .slider .location{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    padding-left: 10px;
}

main .sec-one .slider .location img{
    width: 40px;
}

main .sec-two{
    color: var(--text-color);
    text-align: center;
}

main .sec-two h2{
    font-weight: 300;
    font-size: 20px;
}

main .sec-two h3{
    font-weight:300;
    font-size: 14px;
    margin: 10px 0px 20px 0px;
}

main .sec-two p{
    text-align: justify;
    font-weight: 100;
    font-size: 12px;
}

main .sec-two .container .img-sec-two img{
    width: 100%;
    border-radius: 40% 50px 40% 50px ;
    border: 10px solid rgba(0, 0, 0, 0.059);
}

main .sec-tree .container{
    text-align: center;
    color: var(--text-color);
}

main .sec-tree .container h3{
    margin: 10px 0px 20px 0px;
    font-weight: 100;
    letter-spacing: 1px;
}

main .sec-tree .cards{
    background-image: radial-gradient(#433D60, #211E2E);
    padding: 30px;
    border-radius: 30px;
}

main .sec-tree .cards img{
    border-radius: 100%;
    border: 10px solid #211e2e8f;
}

main .sec-tree .cards h2{
    padding:10px 0px;
    letter-spacing: 1px;
    font-weight: 600;
}

main .sec-tree .cards hr{
    width: 75%;
    margin: auto;
}

main .sec-tree .cards p{
    margin: 20px 0px 30px 0px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 100;
}

main .sec-tree .setas{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin: 0px -50px -10px -50px;
}

main .sec-tree .setas i{
    border: 7px solid #211e2e8f;
    border-radius: 100%;
}

main .sec-for .img-sec-for{
    background-image: url('../imagens/vr-image02.svg');
    color: var(--text-color);
    background-position: left left;
    background-size: cover;
    padding: 20px;
    border-radius: 35px;
    text-align: center;
}

main .sec-for .img-sec-for h2{
    font-size: 12px;
    padding: 15px 0px 5px 0px;
    letter-spacing: 1px;
    font-weight: 300;
}

main .sec-for .img-sec-for h3{
    font-weight: 100;
    font-size: 18px;
    padding: 5px 0px;
}

main .sec-for .img-sec-for-02{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px
}

main .sec-for .img-sec-for-02 img{
    width: 200px;
}

main .sec-for .img-sec-for-02 i{
    font-size: 30px;
    border: 7px solid #211e2e8f;
    border-radius: 100%;
}

main .sec-five{
    text-align: center;
    color: var(--text-color);
}

main .sec-five .circle{
    background-image: linear-gradient(to right, #8176AF, #C0B7E8 );
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid #211e2ef4;

}

main .sec-five h2{
    font-size: 17px;
}

main .sec-five h3{
    font-size: 17px;
    font-weight: 100;
    margin-top: 20px;
}

main .sec-five .circle h1{
    font-size: 35px;
    font-weight:900;
    color: var(--bg-color);
}

main .sec-five .slider-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

main .sec-five .slider-text i{
    font-size: 30px;
    border: 7px solid #211e2e8f;
    border-radius: 100%;
}

main .sec-six {
    text-align: center;
    color: var(--text-color);
}

main .sec-six .container{
    background-image: radial-gradient(#433D60, #211E2E);
    padding: 30px;
    border-radius: 30px;
}

main .sec-six p{
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
}

main .sec-six hr{
    width: 40%;
    margin: 15px auto;
    height: 0.5px;
    
}

main .sec-six form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0px;

}

main .sec-six form input{
    padding: 10px;
    background-color: transparent;
    border: 1.5px solid #ffffff ;
    border-radius: 20px;
    outline: none;
}

main .sec-six form input::placeholder{
    color: #ffffffc9;
    font-size: 10px;
    padding-left: 10px;

}

main .sec-six form #imais{
    padding-bottom: 100px;
}

footer{
    text-align: center;
    color:var(--text-color);
}

footer img{
    height:140px;
    margin: 40px 0px 30px 0px;
}

footer h3{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

footer div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    margin: 10px 0px 20px 0px;
}

footer div i{
    background-color: #C0B7E8;
    color: #211E2E;
    font-size: 15px;
    border: 7px solid #C0B7E8;
    border-radius: 50%;
}

footer p{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 2.3em;
    padding: 30px 0px 70px 0px;
}

footer hr{
    height: 1px;
    margin-top: 50px;
}



